{% extends "base.html" %}

{% block title %}{{data['Name']}}{% endblock %}

{% block main_content %}

<div class="container">
  <div class="row">
    <div class="col s12 l8 offset-l2">

      <!-- display al data -->
      <table class="striped">
        <thead>
          <th>
            Team {{data['Name']}}
          </th>
        </thead>

        <tbody>
          {% if data %}
          <tr>
            <td>Name</td>
            <td>{{data['Name']}}</td>
          </tr>
          <tr>
            <td>Manager</td>
            <td>{{data['Manager']}}</td>
          </tr>
          <tr>
            <td>Department</td>
            <td>
              <a href="{{url_for('redirecting', object_type='team')}}" id="parent-depart">{{data['Department']}}</a>
            </td>
          </tr>
          <tr>
            <td>Teacher Num.</td>
            <td>{{data['Teacher Num.']}}</td>
          </tr>
          <tr>
            <td>Student Num.</td>
            <td>{{data['Student Num.']}}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      <br>

      <!-- operations -->
      <div class="collection">
        <a href="#modify" class="collection-item">Modify</a>
        <a href="#delete" class="collection-item" onclick="deleteThisNode();">Delete</a>
        <a href="#subnodes" class="collection-item" onclick="redirectToSubProjects();">List Projects</a>
        <!-- <a href="#parent" class="collection-item" onclick="redirectToParentDepart();">Parent department</a> -->
      </div>

      <!-- modify modal -->
      <div id="modify" class="modal">
        <div class="modal-content">
          <h4>Modify</h4>
          <div class="container row">
            <form class="col s12" action="" method="put">
              <div class="row">
                <div class="input-field col s4">
                  <select class="" name="modify-partial" id="modify-partial" onchange="changeInputField(this);">
                    <option value="" disabled selected>Options</option>
                    <option value="manager">Manager</option>
                    <!-- TODO: check str/num before submitting -->
                    <option value="teacher_num">Teacher Num.</option>
                    <option value="student_num">Student Num.</option>
                  </select>
                  <!-- <label>Options</label> -->
                </div>
                <div class="input-field col s8">
                  <input type="text" name="modify-content" id="modify-content">
                  <label for="modify-content">Value</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light right" type="submit" name="action" value="modify">
                Submit <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<script>
  $(".modal").modal();
  $('select').material_select();

  function deleteThisNode() {
    cur_URI = location.href.substring(0, location.href.indexOf('?'));
    dst_URI = cur_URI + "?action=delete";   // HACK: NOT BEAUTIFUL!
    location.href = dst_URI;
  }

  function changeInputField(e) {
    if (e.value === 'manager') {
      $("#modify-content").attr('type', 'text');
    }
    else if (e.value === 'teacher_num') {
      $("#modify-content").attr('type', 'number');
    }
    else if (e.value === 'student_num') {
      $("#modify-content").attr('type', 'number');
    }
  }

  function redirectToSubProjects() {
    cur_URI = location.href.substring(0, location.href.indexOf('#'));
    if (cur_URI === "") { cur_URI = location.href; }
    team_idx = cur_URI.split('/').reverse()[0];
    console.log(team_idx);
    location.href = location.href.substring(0, location.href.indexOf('team')) +
                    'query/team/' + team_idx + '/subnodes/';
  }

</script>

{% endblock %}
